/* Install the prettier package using npm */
/* npm install --save-dev --save-exact prettier */

*{
  font-family: "Almarai", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.flex {
  padding-left: 8px;
  padding-right: 8px;
  list-style: none;
  column-count: 2;
  column-gap: 0;
  margin: 0 -1.25%;
  gap: 0;
}

.item {
  height: fit-content;
  /* margin-bottom: 8px; */
  break-inside: avoid;
  margin: 0 2% 5%;
}
ion-card {
  border-radius: 20px;
  overflow-y: scroll;
}
.Buttons-container {
  font-weight: lighter;
  gap: 5px;
}
.sort-btn {
  color: #949494;
  background-color: #2a2a2c;
  padding: 2px;
  border-radius: 30px;
  font-weight: lighter;
  font-size: small;
  text-transform: none;
}
.sort-btn:nth-child(1) {
  background-color: aliceblue;
  color: black;
}
.sticky-container {
  position: sticky;
  top: 0;
  background-color: #121212;
  z-index: 1000; /* Ensure it's above other elements */
}
.CardTitle {
  color: aliceblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
  margin-bottom: 3px;
  position: sticky;
  top: 0;
  /* background-color: #121212; */
  z-index: 1000;
}
.CardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  overflow-y: scroll;
  overflow-x: scroll;
}
.tasks-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;

}

.task-section {
  background-color: #121212;
  border-radius: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  color: #dcdcdc;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 8px;
  padding-right: 8px;
  overflow-x: auto;
  flex-wrap: wrap;
}
ion-checkbox {
  --border-radius: 100%;
  --size: 20px;
  --border-color: #d0ff73;
  --border-color-checked: #d0ff73;
  --border-width: 1.5px;
  --background-color: #d0ff73;
  --checkbox-background: transparent;
  --checkbox-background-checked: #d0ff73;
  --checkmark-color: #0e0e0e;
  --checkmark-width: 2px;
  overflow-x: auto;
}
.creaed-At {
  margin-top: auto;
  padding-top: 10px;
}

/* .item:nth-child(1) {
  height: 220px;
}
.item:nth-child(2) {
  height: 500px;
}
.item:nth-child(3) {
  height: 360px;
}
.item:nth-child(4) {
  height: 400px;
}
.item:nth-child(5) {
  height: 150px;
} */
